@page
@model Stemmer.Pages.AddingModel
@{
}
<h3>Title</h3>
@Model.title

<h3>Body</h3>
@Model.body


<h3>Stemmed title</h3>
@Model.stemm

<h3>Stemmed body</h3>
@Model.Stemmed
<h3>Status</h3>
@Model.status
